.pictrue-item{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32rpx;
    height: 130rpx;
    border-bottom: 1Px solid #f1f2f3;
    &.noBorder{
        border-bottom: 0 none;
    }
}
.pictrue-cancel{
    text-align: center;
    line-height: 42rpx;
    font-size: 32rpx; 
    padding: 44rpx 0 20rpx;
    border-top: 20rpx solid #f7f7f7;
}