/* 文字基本颜色 */
$brand-color: #4F88FF;
$success-color: #1dca6e;
$error-color: #F13030;
$text-color: #222222; //基本色
$text-border: #e5e5e5;
$gray-color: #8c9aab;
$disabled-color: #cbcfd3;
$line-color: #f6f6f6;
$bg-color: #f8f8f8; //基本色
$bg-white-color: #ffffff; //基本色
$border-color: #F1F2F3; //基本色
$blue-color: #4364bb;
$yellow-color: #FFC700;
$color-active: #4F88FF; //基本色
$color-gray: #554e46; //基本色
$color-warm: #4F88FF; //基本色

$text-color-inverse: #fff; //反色
$text-color-grey: #999; //辅助灰色，如加载更多的提示信息
$text-color-placeholder: #a0aec0;
$text-color-disable: #c0c0c0;
